.p-step_challenge{
  margin-left: $spacey;
  width: 40vw;
  @include mq(xl){
    width: 100%;
    margin-top: $space2z;
    margin-left: 0;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: 100;
    margin-bottom: $space2xl;
    @include mq(md){
      text-align: center;
    }
  }
  &__choice{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space3xl;
    @include mq(md){
      justify-content: center;
      margin-bottom: $spacexl;
    }
    &__pipe{
      margin-left: $space2m;
      margin-right: $space2m;
      @include mq(md){
        margin-left: $spaces;
        margin-right: $spaces;
      }
    }
    &__font{
      color: $font-color-black;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-s;
      }
      &:hover{
        color: $font-color-orenge;
      }
    }
    &__current{
      color: $font-color-peacook-greeen;
    }
  }
  &__button{
    box-sizing: border-box;
    border: 1px solid $light-gray;
    background-color: $background-white;
    width: 50px;
    height: 30px;
    &:hover{
      background-color: $light-gray;
      cursor: pointer;
    }
  }
  &__search{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space2xl;
    @include mq(md){
      justify-content:center;
    }
  }
  &__select{
    position: relative;
    border: 1px solid $light-gray;
    background: #ffffff;
    overflow: hidden;
    width: 200px;
    text-align: center;
    margin-left: $spacexl;
    @include mq(md){
      margin-top: $space3m;
      margin-left: 0;
      width: 295px;
    }
    &::before{
      position: absolute;
      top: 0.8em;
      right: 0.9em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $gray;
      pointer-events: none;
    }
    &__box{
      width: 100%;
      font-size: $font-size-m;
      padding-top: $spaces;
    }
  }
  &__clear{
    background-color: $background-white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: $space3m;
    padding-bottom: $space3m;
    padding-left: $spacexl;
    margin-bottom: $space2z;
    @include mq(md){
      justify-content: center;
      padding-top: $space3m;
      padding-bottom: $space3m;
      padding-left: 0px;
      margin-bottom: $space3xl;
    }
    &__number{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: $space2xl;
      font-size: $font-size-m;
      border-left: 1px solid $light-gray;
      padding-top: $space3m;
      padding-bottom: $space3m;
      padding-left: $space2xl;
      @include mq(md){
        margin-left: $space3m;
        padding-top: $space3s;
        padding-bottom: $space3s;
        padding-left: $space3m;
      }
      &__big{
        font-size: $font-size-3l;
        margin-left: $space3m;
        @include mq(md){
          margin-left: $space2m;
        }
      }
    }
  }
  &__prof{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $font-size-l;
    font-weight: 100;
    &__img{
      border-radius: 50%;
      width: 80px;
      height: 80px;
      @include mq(md){
        width: 40px;
        height: 40px;
      }
    }
  }
  &__box{
    margin-bottom: $spacey;
    @include mq(md){
      display: flex;
      justify-content: center;
      margin-bottom: $space2z;
    }
  }
  &__sub{
    &-title{
      font-size: $font-size-2l;
      font-weight: 100;
      margin-bottom: $space2l;
      @include mq(xl){
        text-align: center;
        margin-bottom: $space2xl;
      }
    }
  }
  &__card{
    display: flex;
    margin-bottom: $spacexl;
    //height: 180px;
    @include mq(md){
      display: block;
      width: 270px;
      color: $font-color-black;
      margin-right: 0;
      &:hover{
        cursor: pointer;
        color: $font-color-orenge;
      }
    }
  }
  &__thead{
    position: relative;
    &__img{
      width: 320px;
      height: 180px;
      &:hover{
        opacity: 0.8;
      }
      @include mq(md){
        width: 100%;
        height: 152px;
      }
    }
    &__button{
      border-radius: 50px;
      position: absolute;
      top: 120px;
      left: 80px;
      background-color: $background-orenge;
      color: $font-color-white;
      opacity: 0.9;
      padding-top: $spaces;
      padding-bottom: $spaces;
      padding-left: $space2xl;
      padding-right: $space2xl;
      &:hover{
        background-color: $background-light-orenge;
      }
      @include mq(md){
        left: 57px;
        top: 100px;
        font-size: $font-size-m;
      }
    }
  }
  &__tbody{
    background-color: $background-white;
    border-left: 1px solid $light-gray;
    padding-top: $space3m;
    padding-bottom: $space3s;
    padding-left: $space3l;
    padding-right: $spacexl;
    min-width: 350px;
    height: 180px;
    @include mq(md){
      min-width: 100%;
      padding-top: $space3m;
      padding-bottom: $space3s;
      padding-right: $space3m;
      padding-left: $space3m;
      border-left: none;
    }
    &__link{
      color: $font-color-black;
      &:hover{
        color: $font-color-orenge;
      }
    }
  }
  &__top{
    font-size: $font-size-l;
    margin-bottom: $spacel;
    @include mq(md){
      font-size: $font-size-m;
      margin-bottom: $space3s;
    }
    &__font{
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      @include mq(md){
        width: 100%;
      }
    }
  }
  &__medium{
    margin-bottom: $spacel;
    @include mq(md){
      margin-bottom: $space2m;
    }
    &__font{
      margin-bottom: $spaces;
      display: flex;
      justify-content: flex-end;
      font-size: $font-size-m;
      @include mq(md){
        font-size: $font-size-s;
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-s;
    @include mq(md){
      flex-wrap: wrap;
    }
    &__prof{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include mq(md){
        width: 100%;
        margin-bottom: $spaces;
      }
    }
    &__font{
      margin-left: $spaces;
      @include mq(md){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        width: 80%;
      }
    }
  }
}