.p-step_ditail{
  display: flex;
  flex-wrap: wrap;
  @include mq(xl){
    display: block;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    word-break: break-all;
  }
  &__top{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  &__item{
    padding-left: 78px;
    padding-right: 50px;
    width: 630px;
    @include mq(md){
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }
  }&__content{
    margin-bottom: 150px;
  }
  &__font{
    font-size: $font-size-2l;
    word-break: break-all;
  }
  &__border{
    border: 1px solid $light-gray;
  }
  &__button{
    color: $font-color-white;
    font-size: $font-size-l;
    padding: 12px 50px 12px 50px;
    width: 300px;
    &-a{
      @extend .p-step_ditail__button;
      text-align: center;
      padding: 17px 50px 17px 50px;
    }
  }
}