.p-step_ditail{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacey;
  @include mq(xl){
    display: block;
    margin-top: $space2z;
  }
  @include mq(md){
    margin: 0 auto;
    margin-top: $space2z;
    width: 100%;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: 100;
    word-break: break-all;
    margin-bottom: $spacexl;
    line-height: 1.4;
    @include mq(md){
      text-align: center;
      font-size: $font-size-3l;
    }
    &__user{
      display: block;
    }
  }
  &__challenge{
    display: flex;
    justify-content: flex-end;
    font-size: $font-size-2l;
    color: $font-color-light-orenge;
    margin-bottom: $space3m;
    @include mq(md){
      font-size: $font-size-l;
    }
    &-none{
      color: $font-color-light-orenge;
      font-size: $font-size-2l;
      margin-top: $spacexl;
      margin-bottom: $space3z;
    }
  }
  &__percent{
    display: flex;
    justify-content: flex-end;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-m;
    margin-bottom: $space2m;
    @include mq(md){
      font-size: $font-size-s;
    }
  }
  &__medium{
    margin-bottom: 50px;
    @include mq(md){
      margin: 0 auto;
      margin-bottom: $space2xl;
      width: 100%;
      height: 176px;
    }
  }
  &__img{
    width: 500px;
    height: 281px;
    @include mq(md){
      width: 100%;
      height: 100%;
    }
  }
  &__bottom{
    margin-bottom: $space3y;
  }
  &__item{
    margin-right: $space2z;
    margin-left: $space2z;
    width: 500px;
    @include mq(md){
      padding-left: $space2m;
      padding-right: $space2m;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__button{
    color: $font-color-white;
    font-size: $font-size-l;
    padding: $spacem $space2xl $spacem $space2xl;
    width: 300px;
    &-a{
      @extend .p-step_ditail__button;
      text-align: center;
      padding: $space-exception1 $space2xl $space-exception1 $space2xl;
    }
  }
  &__clear{
    &-none{
      color: $font-color-light-orenge;
      font-size: $font-size-2l;
      margin-top: $spacexl;
      margin-bottom: $space3z;
    }
  }
}