.p-step_ditail{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  @include mq(xl){
    display: block;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: 100;
    word-break: break-all;
    margin-bottom: 40px;
    line-height: 1.4;
    &__user{
      display: block;
    }
  }
  &__challenge{
    display: flex;
    justify-content: flex-end;
    font-size: $font-size-2l;
    color: $font-color-light-orenge;
    margin-bottom: 20px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-m;
    margin-bottom: 15px;
  }
  &__medium{
    margin-bottom: 50px;
  }
  &__img{
    width: 500px;
    height: 281px;
  }
  &__bottom{
    margin-bottom: 150px;
  }
  &__item{
    //padding-left: 78px;
    //padding-right: 83px;
    margin-right: 80px;
    margin-left: 80px;
    //width: 630px;
    width: 500px;
    @include mq(md){
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }
  }
  &__button{
    color: $font-color-white;
    font-size: $font-size-l;
    padding: 12px 50px 12px 50px;
    width: 300px;
    &-a{
      @extend .p-step_ditail__button;
      text-align: center;
      padding: 17px 50px 17px 50px;
    }
  }
}