.p-step_list{
  padding-left: 60px;
  padding-right: 60px;
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    text-align: center;
    margin-bottom: 35px;
  }
  &__category{
    font-size: $font-size-2l;
    margin-bottom: 40px;
  }
  &__item{
    border: 1px solid $light-gray;
    background: $background-white;
    padding: 8px 4px 7px 20px;
    width: 500px;
  }
  &__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__img{
    border-radius: 50%;
    margin-right: 8px;
    height: 40px;
    width: 40px;
    //border-style:none;
  }
  &__name{
    font-size: $font-size-2l;
  }
  &__day{
    //padding-left: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }
  &__criterion{
    font-size: $font-size-m;
    display: flex;
    justify-content: flex-end;
  }
  &__medium{
    margin-bottom: 20px;
    &-link{
      color: $font-color-black;
      &:hover{
        color: $font-color-orenge;
      }
    }
    &-font{
      width: 100%;
      word-break: break-all;
      padding-right: 24px;
    }
  }
  &__bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}