.p-list_box{ // STEP詳細画面の右側にある子STEP一覧に使うスタイル
  background-color: $background-deep-blue;
  color: $font-color-white;
  width: 250px;
  @include mq(xl){
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 90%;
  }
  &__item{
    border-bottom: 1px solid $white;
    /*&:last-child{
      border-bottom: none;
    }*/
  }
  &__title{
    padding: 22px 14px;
  }
  &__link{
    color: $font-color-white;
    :hover{
      background-color: $background-orenge;
    }
  }
  &__step{
    padding-top: 18px;
    padding-bottom: 5px;
    padding-left: 14px;
    font-size: $font-size-m;
  }
  &__font{
    padding-left: 14px;
    padding-bottom: 16px;
    font-size: $font-size-m;
    word-break: break-all;
  }
}