.p-step_list{
  margin-left: $spacey;
  width: 600px;
  @include mq(xl){
    width: 90vw;
    margin: 0 auto;
    margin-top: $space2z;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: 100;
    margin-bottom: $space2xl;
    @include mq(xl){
      text-align: center;
    }
  }
  &__button{
    box-sizing: border-box;
    border: 1px solid $light-gray;
    border-left: none;
    background-color: $background-white;
    width: 50px;
    height: 30px;
    &:hover{
      background-color: $light-gray;
      cursor: pointer;
    }
  }
  &__search{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space2z;
    @include mq(xl){
      justify-content:center;
    }
  }
  &__select{
    position: relative;
    border: 1px solid $light-gray;
    background: #ffffff;
    overflow: hidden;
    width: 200px;
    text-align: center;
    margin-left: $spacexl;
    @include mq(md){
      margin-top: $space3m;
      margin-left: 0;
      width: 245px;
    }
    &::before{
      position: absolute;
      top: 0.8em;
      right: 0.9em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $gray;
      pointer-events: none;
    }
    &__box{
      width: 100%;
      font-size: $font-size-m;
      padding-top: $spaces;
    }
    &__button{
      @include mq(md){
        margin-top: $space3m;
      }
    }
  }
  &__list{
    &-box{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $space3z;
      @include mq(lg){
        width: 570px;
        margin: 0 auto;
      }
      @include mq(md){
        width: 100%;
        justify-content: center;
        margin-bottom: $space2xl;
      }
    }
  }
  &__card{
    width: 270px;
    margin-right: $space2l;
    margin-bottom: $space2l;
    color: $font-color-black;
    &:hover{
      cursor: pointer;
      color: $font-color-orenge;
    }
    @include mq(lg){
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    @include mq(md){
      margin-right: 0;
      margin-bottom: $space3m;
    }
  }
  &__img{
    width: 100%;
    height: 152px;
  }
  &__tbody{
    padding-top: $space3s;
    padding-bottom: $space3s;
    padding-right: $space3m;
  }
  &__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-s;
    margin-bottom: $space3m;
  }
  &__medium{
    font-size: $font-size-l;
    line-height: 1.2;
    margin-bottom: $space3m;
    &__font{
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      font-weight: 700;
    }
  }
  &__bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $font-size-m;
  }
  &__icon{
    background: $background-white;
    border-radius: 50%;
    color: $font-color-black;
    position: relative;
    height: 30px;
    width: 30px;
  }
}