.p-list_box{ // STEP詳細画面の右側にある子STEP一覧に使うスタイル
  background-color: $background-deep-blue;
  color: $font-color-white;
  width: 250px;
  height: 100%;
  @include mq(xl){
    margin: 0 auto;
    margin-top: $space3xl;
    margin-bottom: $space3xl;
    width: 90%;
  }
  &__item{
    border-bottom: 1px solid $white;
  }
  &__title{
    padding: $space3m $space2m;
  }
  &__link{
    color: $font-color-white;
    :hover{
      background-color: $background-orenge;
    }
  }
  &__step{
    padding-top: $space3m;
    padding-bottom: $spaces;
    padding-left: $space2m;
    font-size: $font-size-m;
  }
  &__font{
    padding-left: $space2m;
    padding-bottom: $space2m;
    font-size: $font-size-m;
    word-break: break-all;
  }
}