.c-button{
  background: $background-orenge;
  border: none;
  padding-top: $space3s;
  padding-bottom: $space3s;
  padding-left: $space3xl;
  padding-right: $space3xl;
  cursor: pointer;
  &:hover{
    background: $background-light-orenge;
  }
}