.c-footer{
  background: $background-deep-blue;
  margin-top: auto;
  padding-top: $space3m;
  padding-bottom: $space3m;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__logo{
    @include mq(md){
      width: 70%;
      height: 0%;
    }
  }
  &__font{
    color: $font-color-white;
    margin-left: $space3m;
    @include mq(md){
      margin-left: 0;
    }
  }
}