.c-header{
  background: $background-deep-blue;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  &__sidebar{
    display: none;
    @include mq(xl){
      display: block;
    }
  }
  &__button{
    background: $background-orenge;
    border-radius: 50px;
    color: $font-color-white;
    padding: 12px 50px;
    width: 200px;
    &:hover{
      background-color: #e79341;
    }
    &-white{
      background-color: $background-white;
      color: $font-color-black;
      margin-left: 24px;
      &:hover{
        background-color: $light-gray;
      }
    }
  }
}