.c-header{
  background: $background-deep-blue;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $space2z;
  padding-right: $space2z;
  @include mq(md){
    padding-left: $space3m;
    padding-right: $space3m;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__sidebar{
    display: none;
    @include mq(xl){
      display: block;
    }
  }
  &__button{
    background: $background-orenge;
    border-radius: 50px;
    color: $font-color-white;
    padding: $space3s $space2xl;
    width: 200px;
    &:hover{
      background-color: #e79341;
    }
    @include mq(md){
      font-size: $font-size-s;
      padding: $space3s $space3m;
    }
    @include mq(sm){
      font-size: $font-size-s;
      padding: $spaces $space3s;
    }
    &-white{
      background-color: $background-white;
      color: $font-color-black;
      margin-left: $spacel;
      &:hover{
        background-color: $light-gray;
      }
      @include mq(md){
        margin-left: $spacem;
      }
    }
  }
  &__logo{
    @include mq(xl){
      margin-left: $space2l;
    }
    @include mq(md){
      margin-left: $space3s;
      width: 50px;
    }
    &__img{
      @include mq(md){
        width: 100%;
        height: 100%;
        margin-left: 0;
      }
    }
  }
  &__none{
    @include mq(lg){
      display: none;
    }
  }
}