.c-inputFild{ // 通常のinput
  font-size: $font-size-l;
  padding: 5px;
  padding-left: 8px;
  height: 35px;
  width: 350px;
  &__long{ // 長いinput
    font-size: $font-size-l;
    padding: 5px;
    padding-left: 8px;
    height: 35px;
    width: 450px; // TODO: widthの長さをあとで％指定にする
  }
  &__textarea{
    font-size: $font-size-l;
    border: 1px solid $light-gray;
    padding: 5px;
    padding-left: 8px;
  }
  &__error{
    font-size: $font-size-l; // TODO: エラーのスタイルはあとでやる
  }
}