.c-pagination{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
  &__block{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      min-width: 500px;
      @include mq(sm) {
          min-width: 0;
      }
  }
  &__icon{
      color: $font-color-orenge;
      font-size: $font-size-xxl;
      &:hover{
          color: $font-color-light-orenge;
      }
      &-invalid {
          color: $gray;
          pointer-events:none;

      }
  }
  &__number{
      &-block{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      &-font{
          background-color: $background-orenge;
          //border-radius: 50%;
          box-sizing: border-box;
          color: $font-color-white;
          display: block;
          font-size: $font-size_m;
          text-align: center;
          width: 27px;
          height: 36px;
          line-height: 36px;
          &:hover{
              color: $font-color-orenge;
              background: $background-white;
              border: 2px solid $background-orenge;
              line-height: 32px;
          }
          &__current{
              color: $font-color-white;
              background: $hyper-light-orenge;
              border: 2px solid $hyper-light-orenge;
              line-height: 32px;
          }
      }
  }
}