// pc用search
.c-search{
  background: $background-deep-blue;
  max-height: calc(100vh - #{$heightNavbar + 75px} );
  padding: 25px 14px;
  position: -webkit-sticky;
  position: sticky;
  top: $heightNavbar + 75px;
  &__box{
    //margin-bottom: 80px;
  }
  &__input{
    border: 1px solid $light-gray;
    border-right: none;
    font-size: $font-size-m;
    padding: 8px;
    width: 245px;
    height: 30px;
  }
  &__button{
    background-color: $background-orenge;
    border: none;
    color: $font-color-white;
    cursor: pointer;
    padding: 8px;
    width: 240px;
    &:hover{
      background: #e79341;
    }
  }
  &__category{
    color: $font-color-white;
  }
  // sp用search
  @include mq(xl){
    display: none;
  }
}