// pc用search
.c-search{
  background: $background-deep-blue;
  max-height: calc(100vh - #{$heightNavbar + $spacez} );
  padding: 25px 14px;
  position: -webkit-sticky;
  position: sticky;
  top: $heightNavbar + $spacez;
  &__input{
    border: 1px solid $light-gray;
    font-size: $font-size-m;
    padding: $space2s;
    width: 245px;
    height: 30px;
  }
  &__button{
    background-color: $background-orenge;
    border: none;
    color: $font-color-white;
    cursor: pointer;
    padding: $space2s;
    width: 240px;
    &:hover{
      background: #e79341;
    }
  }
  &__category{
    color: $font-color-white;
  }
  // sp用search
  @include mq(xl){
    display: none;
  }
}