// pc用search
.c-search{
  background: $background-deep-blue;
  min-height: calc(100vh - #{$heightNavbar + 75px} );
  padding: 25px 14px;
  &__box{
    margin-bottom: 30px;
  }
  &__input{
    font-size: $font-size-l;
    padding: 8px 14px;
    width: 240px;
    height: 30px;
  }
  &__category{
    color: $font-color-white;
  }
  // sp用search
  @include mq(xl){
    display: none;
  }
}