.c-select{
  width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 2px;
	padding-left: 5px;
  color: $font-color-light-black;
  font-size: $font-size-l;
  &::-ms-expand{
    display: none;
	}
	&__create{
		@extend .c-select; 
		padding: 9px;
	}
}