.c-select{
  width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
  //appearance: none;
  // 次
  padding: 5px;
  color: $font-color-light-black;
  font-size: $font-size-l;
  &::-ms-expand{
    display: none;
  }
}