.p-lp{
  // top-img
  &__top-img{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    @include mq(md){
      margin-bottom: 48px;
    }
    &__img{
      width: 100%;
      @include mq(md){
        height: 250px;
      }
    }
    &__font{
      color: $font-color-orenge;
      font-size: 36px;
      position: absolute;
      padding-top: 80px;
      left: 33.4%;
      @include mq(md){
        font-size: $font-size-2l;
        padding-top: 50px;
      }
    }
  }
  // about
  &__about{
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 810px;
    @include mq(md){
      margin-bottom: 48px;
    }
    @include mq(lg){
      max-width: 600px;
    }
    &__title{
      color: $font-color-light-black;
      text-align: center;
      font-weight: 100;
      font-size: $font-size-3l;
      margin-bottom: 70px;
      @include mq(md){
        margin-bottom: 40px;
      }
    }
    &__font{
      color: $font-color-light-black;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-m;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 1.2rem;
      }
    }
  }
  // convey
  &__convey{
    margin: 0 auto;
    margin-bottom: 80px;
    @include mq(md){
      margin-bottom: 32px;
    }
    &__title{
      color: $font-color-light-black;
      text-align: center;
      font-weight: 100;
      font-size: $font-size-3l;
      margin-bottom: 70px;
      @include mq(md){
        margin-bottom: 48px;
      }
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      @include mq(lg){
        justify-content: center;
      }
    }
    &__card{
      border: 2px solid $background-orenge;
      border-radius: 25px;
      padding-left: 11px;
      padding-right: 11px;
      width: 400px;
      @include mq(md){
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 40px;
      }
      @include mq(lg){
        margin-bottom: 40px;
      }
      &-title{
        color: $font-color-light-black;
        font-size: 21px;
        font-weight: 100;
        text-align: center;
        padding-top: 34px;
        margin-bottom: 35px;
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
    }
    &__font{
      color: $font-color-light-black;
      margin-bottom: 48px;
      letter-spacing: 0.05em;
      line-height: 1.4;
      @include mq(){
        font-size: $font-size-m;
        line-height: 1.5;
      }
    }
  }
  // flow
  &__flow{
    margin: 0 auto;
    margin-bottom: 120px;
    @include mq(md){
      margin-bottom: 60px;
    }
    &__title{
      color: $font-color-light-black;
      font-size: $font-size-3l;
      font-weight: 100;
      text-align: center;
      margin-bottom: 70px;
      @include mq(md){
        margin-bottom: 48px;
      }
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      @include mq(lg){
        padding-left: 30px;
        padding-right: 30px;
      }
      @include mq(md){
        justify-content: center;
      }
    }
    &__card{
      border: 2px solid $background-orenge;
      border-radius: 25px;
      padding-left: 11px;
      padding-right: 11px;
      width: 250px;
      height: 225px;
      @include mq(md){
        margin-bottom: 30px;
      }
      @include mq(lg){
        width: 220px;
      }
      &-title{
        color: $font-color-light-black;
        font-size: $font-size-3l;
        font-weight: 100;
        text-align: center;
        padding-top: 44px;
        margin-bottom: 50px;
      }
    }
    &__font{
      color: $font-color-light-black;
      font-size: 21px;
      font-weight: 100;
      margin-bottom: 48px;
      letter-spacing: 0.05em;
      line-height: 1.4;
      text-align: center;
    }
  }
  // footer
  &__footer{
    // footer-top
    &__top{
      background-color: $background-deep-blue;
      color: $font-color-white;
      &-title{
        font-size: 32px;
        font-weight: 100;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
      &-button{
        display: inline-block;
        background-color: $background-orenge;
        color: $font-color-white;
        border-radius: 50px;
        font-size: $font-size-3l;
        font-weight: 100;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 68px;
        padding-right: 68px;
        margin-bottom: 55px;
        &:hover{
          background: #e79341;
        }
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
    }
    // footer-bottom
    &__bottom{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &-img{
        width: 70%;
        height: 70%;
      }
    }
  }
  // border
  &__border{
    width: 64%;
    border-top: 1px solid $background-deep-blue;
    margin: 0 auto;
    margin-bottom: 90px;
    @include mq(md){
      width: 95%;
      margin-bottom: 56px;
    }
    @include mq(lg){
      width: 85%;
    }
  }
}