.p-lp{
  // top-img
  &__top-img{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: $spacey;
    @include mq(md){
      margin-bottom: $spacexl;
    }
    &__img{
      width: 100%;
      @include mq(md){
        height: 250px;
      }
    }
    &__font{
      color: $font-color-orenge;
      font-size: $font-size-exception;
      position: absolute;
      padding-top: $space2z;
      left: 33.4%;
      @include mq(md){
        font-size: $font-size-2l;
        padding-top: $space2xl;
      }
    }
  }
  // about
  &__about{
    margin: 0 auto;
    margin-bottom: $space2z;
    max-width: 810px;
    @include mq(md){
      margin-bottom: $spacexl;
    }
    @include mq(lg){
      max-width: 600px;
    }
    &__title{
      color: $font-color-light-black;
      text-align: center;
      font-weight: 100;
      font-size: $font-size-3l;
      margin-bottom: $space3xl;
      @include mq(md){
        margin-bottom: $spacexl;
      }
    }
    &__font{
      color: $font-color-light-black;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-m;
        padding-left: $space2m;
        padding-right: $space2m;
        line-height: 1.2rem;
      }
    }
  }
  // convey
  &__convey{
    margin: 0 auto;
    margin-bottom: $space2z;
    @include mq(md){
      margin-bottom: $space3l;
    }
    &__title{
      color: $font-color-light-black;
      text-align: center;
      font-weight: 100;
      font-size: $font-size-3l;
      margin-bottom: $space3xl;
      @include mq(md){
        margin-bottom: $spacexl;
      }
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      @include mq(lg){
        justify-content: center;
      }
    }
    &__card{
      border: 2px solid $background-orenge;
      border-radius: 25px;
      padding-left: $spacem;
      padding-right: $spacem;
      width: 400px;
      @include mq(md){
        padding-left: $space2m;
        padding-right: $space2m;
        margin-left: $spacem;
        margin-right: $spacem;
        margin-bottom: $spacexl;
      }
      @include mq(lg){
        margin-bottom: $spacexl;
      }
      &-title{
        color: $font-color-light-black;
        font-size: $font-size-3l;
        font-weight: 100;
        text-align: center;
        padding-top: $space3l;
        margin-bottom: $space3l;
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
    }
    &__font{
      color: $font-color-light-black;
      margin-bottom: $spacexl;
      letter-spacing: 0.05em;
      line-height: 1.4;
      @include mq(){
        font-size: $font-size-m;
        line-height: 1.5;
      }
    }
  }
  // flow
  &__flow{
    margin: 0 auto;
    margin-bottom: $spacey;
    @include mq(md){
      margin-bottom: $space2xl;
    }
    &__title{
      color: $font-color-light-black;
      font-size: $font-size-3l;
      font-weight: 100;
      text-align: center;
      margin-bottom: $space3xl;
      @include mq(md){
        margin-bottom: $spacexl;
      }
    }
    &__box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      @include mq(lg){
        padding-left: $space2l;
        padding-right: $space2l;
      }
      @include mq(md){
        justify-content: center;
      }
    }
    &__card{
      border: 2px solid $background-orenge;
      border-radius: 25px;
      padding-left: $spacem;
      padding-right: $spacem;
      width: 250px;
      height: 225px;
      @include mq(md){
        margin-bottom: $space2l;
      }
      @include mq(lg){
        width: 220px;
      }
      &-title{
        color: $font-color-light-black;
        font-size: $font-size-3l;
        font-weight: 100;
        text-align: center;
        padding-top: $spacexl;
        margin-bottom: $space2xl;
      }
    }
    &__font{
      color: $font-color-light-black;
      font-size: $font-size-3l;
      font-weight: 100;
      margin-bottom: $spacexl;
      letter-spacing: 0.05em;
      line-height: 1.4;
      text-align: center;
    }
  }
  // footer
  &__footer{
    // footer-top
    &__top{
      background-color: $background-deep-blue;
      color: $font-color-white;
      &-title{
        font-size: $font-size-exception;
        font-weight: 100;
        padding-top: $space2xl;
        padding-bottom: $space2xl;
        text-align: center;
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
      &-button{
        display: inline-block;
        background-color: $background-orenge;
        color: $font-color-white;
        border-radius: $space2xl;
        font-size: $font-size-3l;
        font-weight: 100;
        padding-top: $spacel;
        padding-bottom: $spacel;
        padding-left: $space3xl;
        padding-right: $space3xl;
        margin-bottom: $space2xl;
        &:hover{
          background: $background-light-oreng;
        }
        @include mq(md){
          font-size: $font-size-2l;
        }
      }
    }
    // footer-bottom
    &__bottom{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &-img{
        width: 70%;
        height: 70%;
      }
    }
  }
  // border
  &__border{
    width: 64%;
    border-top: 1px solid $background-deep-blue;
    margin: 0 auto;
    margin-bottom: $space3z;
    @include mq(md){
      width: 95%;
      margin-bottom: $space2xl;
    }
    @include mq(lg){
      width: 85%;
    }
  }
}