.p-404{
  border: 1px solid $light-gray;
  background-color: $background-white;
  margin-top: $spacey;
  padding-top: $space2xl;
  padding-bottom: $space2z;
  padding-left: $space3y;
  padding-right: $space3y;
  &__title{
    font-size: $font-size-3l;
    font-weight: 100;
    text-align: center;
    margin-bottom: $spacez;
  }
  &__font{
    font-size: $font-size-l;
    text-align: center;
    margin-bottom: $spacez;
  }
  &__button{
    color: $font-color-white;
    font-size: $font-size-m;
    padding-top: $space2m;
    padding-bottom: $space2m;
  }
}