.p-404{
  border: 1px solid $light-gray;
  background-color: $background-white;
  margin-top: 120px;
  padding-top: 55px;
  padding-bottom: 80px;
  padding-left: 170px;
  padding-right: 170px;
  &__title{
    font-size: $font-size-3l;
    font-weight: 100;
    text-align: center;
    margin-bottom: 75px;
  }
  &__font{
    font-size: $font-size-l;
    text-align: center;
    margin-bottom: 75px;
  }
  &__button{
    color: $font-color-white;
    font-size: $font-size-m;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}