// レイアウト用定数
$heightNavbar: 80px;
$heightFooter: 80px;
$widthSidebar: 320px;

// Auth系のレイアウト
.l-auth{
  background: $background-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - #{$heightNavbar+$heightFooter} );
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    @include mq(xl-up){
      max-width: 1280px;
    }
  }
}

// lp
.l-lp{
  background-color: $background-white;
}

// own_columnとtwo_column系のレイアウト
.l-content{
  background: $background-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - #{$heightNavbar} );
  &__inner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin: 0 auto;
    margin-top: 75px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    @include mq(xl-up){
      max-width: 1280px;
    }
    @include mq(xl){
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.l-main{
  @include mq(sm){
    margin: 0 auto;
  }
}
