.p-child_edit{
  padding-left: 148px;
  @include mq(xl){
    padding: 0;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
    @include mq(md){
      margin-bottom: 48px;
    }
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__input{
    margin-top: 5px;
    margin-bottom: 70px;
    @include mq(md){
      margin-bottom: 48px;
    }
  }
  &__textarea{
    margin-bottom: 115px;
    height: 180px;
    width: 450px; // TODO: widthの長さをあとで％指定にする
    @include mq(md){
      width: 300px;
      margin-bottom: 60px;
    }
  }
  &__button{
    &-font{
      color: $font-color-white;
      font-size: $font-size-2l;
      padding: 13px 130px 13px 130px;
      margin-bottom: 48px;
    }
  }
}