.p-child_edit{
  padding-right: 33%;
  margin-left: $space2y;
  width: 40vw;
  @include mq(xl){
    padding: 0;
    margin: 0 auto;
    margin-top: $space2z;
    width: 60vw;
  }
  @include mq(md){
    margin: 0 auto;
    margin-top: $space2z;
    width: 100%;
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    text-align: center;
    margin-bottom: $space2z;
    @include mq(md){
      margin-bottom: $spacexl;
      font-size: $font-size-3l;
    }
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__input{
    margin-top: $spaces;
    margin-bottom: $space2l;
    @include mq(md){
      margin-bottom: $spacexl;
    }
  }
  &__textarea{
    margin-bottom: $space2l;
    height: 180px;
    width: 100%;
    @include mq(md){
      width: 300px;
      margin-bottom: $space3xl;
    }
  }
  &__required{
    font-size: $font-size-s;
    margin-left: $spaces;
  }
  &__icon{
    background: $background-white;
    color: $font-color-black;
    position: relative;
    margin-bottom: $space2z;
    width: 200px;
    height: 113px;
    &-destory{
      width: 200px;
      display: flex;
      justify-content: flex-end;
      font-size: $font-size-3l;
      margin-top: $space3s;
      margin-bottom: $spaces;
      &__pointer{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &__file{
    opacity: 0;
    width: 200px;
    height: 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
  }
  &__img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &__destory{
      background-color: $background-orenge;
      border-radius: 50px;
      border: none;
      color: $font-color-white;
      font-size: $font-size-ss;
      margin-top: $spaces;
      margin-bottom: $space3s;
      &:hover{
        background-color: $background-light-orenge;
        cursor: pointer;
      }
    }
  }
  &__button{
    &-font{
      color: $font-color-white;
      font-size: $font-size-l;
      padding: $space2m $spacey $space2m $spacey;
      margin-bottom: $spacexl;
    }
  }
}