.p-child_register{
    padding-right: 33%;
    margin-left: 150px;
    width: 40vw;
    @include mq(xl){
      padding: 0;
      margin: 0 auto;
      margin-top: 80px;
      width: 60vw;
    }
    @include mq(md){
      margin: 0 auto;
      margin-top: 80px;
      width: 100%;
    }
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
    @include mq(md){
      margin-bottom: 48px;
      font-size: $font-size-3l;
    }
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__input{
    margin-top: 5px;
    margin-bottom: 30px;
    @include mq(md){
      margin-bottom: 48px;
    }
  }
  &__textarea{
    margin-bottom: 30px;
    height: 180px;
    width: 100%;
    @include mq(md){
      width: 300px;
      margin-bottom: 60px;
    }
  }
  &__required{
    //color: $red;
    font-size: $font-size-s;
    margin-left: 5px;
  }
  &__icon{
    background: $background-white;
    color: $font-color-black;
    position: relative;
    margin-bottom: 80px;
    width: 200px;
    height: 113px;
    &-destory{
      width: 200px;
      display: flex;
      justify-content: flex-end;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 5px;
      &__pointer{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &__file{
    opacity: 0;
    width: 200px;
    height: 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
  }
  &__img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &-destory{
      display: none;
    }
  }
  &__button{
    &-font{
      color: $font-color-white;
      font-size: $font-size-l;
      padding: 13px 130px 13px 130px;
    }
  }
}