.p-email{
  border: 1px solid $light-gray;
  background: $background-white;
  margin-top: $space3z;
  padding-top: $spacexl;
  padding-bottom: $space2z;
  padding-left: $space3y;
  padding-right: $space3y;
  @include mq(md){
    padding: 0;
    padding-top: $spacexl;
    padding-bottom: $spacexl;
    padding-left: $spacexl;
    padding-right: $spacexl;
    margin-top: $spacexl;
    margin-bottom: $spacexl;
  }
  &__title{
    font-size: $font-size-xl;
    text-align: center;
    font-weight: normal;
    margin-bottom: $space2l;
    @include mq(md){
      font-size: $font-size-3l;
    }
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__font{
    font-size: $font-size-m;
    text-align: center;
    margin-bottom: $space2s;
    @include mq(){
      font-size: $font-size-s;
    }
  }
  &__link{
    color: $font-color-peacook-greeen;
  }
  &__button{
    &-font{
      color: $font-color-white;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-m;
        padding-left: $space2z;
        padding-right: $space2z;
      }
    }
  }
  &__alert{
    color: $font-color-orenge;
    margin-bottom: $space3m;
  }
}