.p-login{
  border: 1px solid $light-gray;
  background: $background-white;
  margin-top: 70px;
  padding-top: 37px;
  padding-bottom: 65px;
  padding-left: 175px; // TODO: あとで％指定に変える
  padding-right: 175px;
  margin-bottom: 90px;
  @include mq(md){
    width: 100%;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 18px;
  }
  &__title{
    font-size: $font-size-xl;
    text-align: center;
    font-weight: normal;
    margin-bottom: 75px;
  }
  &__form{
    width: 300px;
    margin: 0 auto;
  }
  &__checkbox{
    &-font{
      display: flex;
      align-items: center;
      font-size: $font-size-m;
      @include mq(sm){
        font-size: 10px;
      }
    }
  }
  &__link{
    color: $font-color-peacook-greeen;
    @include mq(sm){
      font-size: $font-size-s;
    }
  }
  &__button{
    margin-bottom: 55px;
    @include mq(){
      margin-bottom: 25px;
    }
    &-font{
      color: $font-color-white;
      font-size: $font-size-2l;
    }
  }
}