.p-login{
  border: 1px solid $light-gray;
  background: $background-white;
  margin-top: $space3xl;
  padding-top: $spacexl;
  padding-bottom: $space3xl;
  padding-left: $space3y; // TODO: あとで％指定に変える
  padding-right: $space3y;
  margin-bottom: $space3z;
  @include mq(md){
    width: 100%;
    padding: 0;
    padding-top: $space2l;
    padding-bottom: $space3m;
  }
  &__title{
    font-size: $font-size-xl;
    text-align: center;
    font-weight: normal;
    margin-bottom: $spacez;
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__checkbox{
    &-font{
      display: flex;
      align-items: center;
      font-size: $font-size-m;
      @include mq(sm){
        font-size: $font-size-ss;
      }
    }
  }
  &__link{
    color: $font-color-peacook-greeen;
    @include mq(sm){
      font-size: $font-size-s;
    }
  }
  &__button{
    margin-bottom: $space2xl;
    @include mq(){
      padding-left: $space2z;
      padding-right: $space2z;
      margin-bottom: $space3l;
    }
    &-font{
      color: $font-color-white;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-m;
      }
    }
  }
}