.p-singup{
  border: 1px solid $light-gray;
  background: $background-white;
  margin-top: $space3xl;
  padding-top: $space2xl;
  padding-bottom: $space3xl;
  padding-left: $space3y;
  padding-right: $space3y;
  margin-bottom: $space3z;
  @include mq(md){
    width: 100%;
    padding: 0;
    padding-top: $space2xl;
    padding-bottom: $space3m;
  }
  &__title{
    font-size: $font-size-xl;
    text-align: center;
    font-weight: normal;
    margin-bottom: $spacez;
    @include mq(md){
      font-size: $font-size-3l;
    }
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__link{
    color: $font-color-peacook-greeen;
    @include mq(sm){
      font-size: $font-size-s;
    }
  }
  &__button{
    margin-bottom: $space2xl;
    @include mq(){
      margin-bottom: $spacel;
      padding-left: $space2z;
      padding-right: $space2z;
    }
    &-font{
      color: $font-color-white;
      font-size: $font-size-2l;
      @include mq(md){
        font-size: $font-size-m;
      }
    }
  }
}