.p-account_edit{
  //padding-left: 148px; // TODO: あとで％指定に変える
  padding-left: 148px;
  //padding-right: 65px;
  @include mq(xl){
    padding: 0;
  }
  &__form{
    @include mq(md){
      width: 300px;
      margin: 0 auto;
    }
  }
  &__title{
    font-size: $font-size-xl;
    font-weight: normal;
    text-align: center;
    margin-bottom: 90px;
    @include mq(md){
      margin-bottom: 48px;
      font-size: $font-size-3l;
    }
  }
  &__textarea{
    height: 100px;
    width: 450px; // TODO: widthの長さをあとで％指定にする
    @include mq(md){
      width: 300px;
    }
  }
  &__button{
    &-font{
      color: $font-color-white;
      font-size: $font-size-l;
      padding: 13px 130px 13px 130px;
    }
  }
  &__icon{
    background: $background-white;
    border-radius: 50%;
    //border: 1px solid $light-gray;
    color: $font-color-black;
    position: relative;
    margin-bottom: 50px;
    height: 140px;
    width: 140px;
    &-destory{
      width: 140px;
      display: flex;
      justify-content: flex-end;
      font-size: 22px;
      &__pointer{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &__file{
    border-radius: 50%;
    opacity: 0;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__img{
    height: 100%;
    width: 100%;
    //border-style:none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    &-destory{
      display: none;
    }
  }
}